.main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  gap: 30px;
  margin: 120px auto;
}
.description {
  font-size: 90px;
  font-weight: 1000;
}
.input {
  width: 700px;
  input {
    height: 65px;
    border-radius: 10px;
  }
}

.button {
  width: 300px;
  height: 60px;
  border-radius: 10px;
}
