.outer_box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_box {
  margin: 120px auto -120px auto;
  display: grid;
  gap: 10px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
