.outer_box {
  width: 100%;
}
.main_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  width: 90%;
  margin: 120px auto -120px auto;
}
