/* Header */
.header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #52525200;
  align-items: center;
}

.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right_section {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.menu_icon {
  width: 30px;
  height: 30px;
}

/* MenuItem */
.menu_item {
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
.menu_item:hover {
  background-color: rgb(221, 221, 221);
}

.menu_item_icon {
  width: 13px;
  height: 13px;
}
